<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TicketTonightDataImporter.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>Tickets Tonight.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>TicketsTonightImporter.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>090A94541A1C58C400921802</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>090A94651A1C58C400921802</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>09DF42C81A152C730051B91E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>09DF42DD1A152C730051B91E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>09E3EBE91A1AB7EF000022FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
